.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.fill {
  background-color: #0CFF00;
}

.empty {
  background-color: #A8A8A8;
}